[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"
sqlalchemy = "*"
python-jose = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
jose = "*"

[dev-packages]

[requires]
python_version = "3.8"
